<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ionic Camera with Capacitor </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TEST</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="button-container">
    <div class="camera-button">
      <ion-button size="small" (click)="takePicture()">
        <ion-icon name="camera" slot="start"></ion-icon>
        <ion-label>Camera</ion-label>
      </ion-button>
    </div>

    <input
      type="file"
      *ngIf="isDesktop"
      #filePicker
      (change)="onChooseFile($event)"
    />

    <div class="camera-button">
      <ion-button size="small" (click)="addCouch()">
        <ion-icon name="image" slot="start"></ion-icon>
        <ion-label>ADD</ion-label>
      </ion-button>
    </div>

    <div class="camera-button">
      <ion-button size="small" (click)="removeCouch()">
        <ion-icon name="image" slot="start"></ion-icon>
        <ion-label>REMOVE</ion-label>
      </ion-button>
    </div>
  </div>

  <div class="example-boundary">
    <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
      I can only be dragged within the dotted container
    </div>
  </div>
  <!-- <form [formGroup]="form">
    <label> Name </label>
    <ion-input
      type="text"
      formControlName="name"
      placeholder="Enter Name"
    ></ion-input>
    <br />
    <label for="avatar">Choose a profile picture:</label>

    <ion-input
      type="file"
      id="avatar"
      name="avatar"
      accept="image/*"
      (change)="readFile($event)"
    ></ion-input> -->

  <!-- <br />

    <ion-button type="submit" (click)="uploadFile()">Save</ion-button>
  </form> -->

  <!-- <div class="example-box" cdkDrag> ../../assets/3d/scene/root.gltf-->
  <div id="container" [innerHtml]="htmlToAdd | htmlHandle">
    <!-- <model-viewer
      src="../../assets/3d/lamp-roomcraft/root.gltf"
      alt="A 3D model of a chair"
      field-of-view="80deg"
      camera-controls
    ></model-viewer> -->
  </div>
  <!-- </div> -->
  <!-- <div class="image-container">
    <img id="myImage" src="../../assets/teens-exploring-technology.png" />
  </div> -->

  <!-- <div class="one" [innerHtml]="htmlToAdd"></div> -->
  <!-- <div class="engine-wrapper">
      <canvas #rendererCanvas></canvas>
    </div> -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <div class="test-button">
      <ion-button>TEST</ion-button>
      <ion-button>TEST</ion-button>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <div class="test-button">
      <ion-button>TEST</ion-button>
      <ion-button>TEST</ion-button>
    </div>
  </ion-card>
</ion-content>
